body
{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #ddd;
    align-items: center;
    margin: 0 auto;
}

h1
{
    color: rgb(3, 83, 16);
    size: 20px;
    text-transform: uppercase;
}

p
{
    color: rgb(9, 1, 54);
    size: 115px;
    
}

#cabecera
{
    background: rgb(2, 133, 143);
    padding: 15px;
    color: rgb(255, 255, 255);
    font-size: 35px;
    box-shadow: 0px 4px 20px 0px rgba(0,0,0, 0.5);
    font-weight: bold;
}

#tag
{
    font-size: 20px;
    font-weight: 400;
}